# Ignore environment variables
.env

# Ignore virtual environment
venv/

# Ignore all pycached folder
__pycache__/


docker-compose.yml

# Ausschließen der Datei service_account.json im Verzeichnis app/factory
app/factory/service_account.json
